<div>
  <h2 id="page-heading" data-cy="DossierHeading">
    <span>Dossiers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dossier"
        [routerLink]="['/dossier/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Dossier </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dossiers?.length === 0">
    <span>No dossiers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="dossiers && dossiers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="numero"><span>Numero</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="valeurBatie"><span>Valeur Batie</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="valeurVenale"><span>Valeur Venale</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="valeurLocativ"><span>Valeur Locativ</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="activite"><span>Activite</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dossier.id"><span>Dossier</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="usageDossier.id"><span>Usage Dossier</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="proprietaire.id"><span>Proprietaire</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="refParcelaire.id"><span>Ref Parcelaire</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="refcadastrale.id"><span>Refcadastrale</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dossier of dossiers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/dossier', dossier.id, 'view']">{{ dossier.id }}</a>
          </td>
          <td>{{ dossier.numero }}</td>
          <td>{{ dossier.valeurBatie }}</td>
          <td>{{ dossier.valeurVenale }}</td>
          <td>{{ dossier.valeurLocativ }}</td>
          <td>{{ dossier.activite }}</td>
          <td>
            <div *ngIf="dossier.dossier">
              <a [routerLink]="['/lotissement', dossier.dossier?.id, 'view']">{{ dossier.dossier?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="dossier.usageDossier">
              <a [routerLink]="['/usage-dossier', dossier.usageDossier?.id, 'view']">{{ dossier.usageDossier?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="dossier.proprietaire">
              <a [routerLink]="['/proprietaire', dossier.proprietaire?.id, 'view']">{{ dossier.proprietaire?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="dossier.refParcelaire">
              <a [routerLink]="['/ref-parcelaire', dossier.refParcelaire?.id, 'view']">{{ dossier.refParcelaire?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="dossier.refcadastrale">
              <a [routerLink]="['/refcadastrale', dossier.refcadastrale?.id, 'view']">{{ dossier.refcadastrale?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/dossier', dossier.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/dossier', dossier.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(dossier)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="dossiers && dossiers.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
