<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="categorieCoursAmenage">
      <h2 data-cy="categorieCoursAmenageDetailsHeading"><span>Categorie Cours Amenage</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ categorieCoursAmenage.id }}</span>
        </dd>
        <dt><span>Libelle</span></dt>
        <dd>
          <span>{{ categorieCoursAmenage.libelle }}</span>
        </dd>
        <dt><span>Prix Metre Care</span></dt>
        <dd>
          <span>{{ categorieCoursAmenage.prixMetreCare }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/categorie-cours-amenage', categorieCoursAmenage.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
