<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-refcadastrale-heading"
        data-cy="RefcadastraleCreateUpdateHeading"
        jhiTranslate="sunufoncierApp.refcadastrale.home.createOrEditLabel"
      >
        Créer ou éditer un Refcadastrale
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="sunufoncierApp.refcadastrale.codeSection" for="field_codeSection">Code Section</label>
          <input
            type="text"
            class="form-control"
            name="codeSection"
            id="field_codeSection"
            data-cy="codeSection"
            formControlName="codeSection"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="sunufoncierApp.refcadastrale.codeParcelle" for="field_codeParcelle">Code Parcelle</label>
          <input
            type="text"
            class="form-control"
            name="codeParcelle"
            id="field_codeParcelle"
            data-cy="codeParcelle"
            formControlName="codeParcelle"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="sunufoncierApp.refcadastrale.nicad" for="field_nicad">Nicad</label>
          <input type="text" class="form-control" name="nicad" id="field_nicad" data-cy="nicad" formControlName="nicad" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="sunufoncierApp.refcadastrale.superfici" for="field_superfici">Superfici</label>
          <input type="number" class="form-control" name="superfici" id="field_superfici" data-cy="superfici" formControlName="superfici" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="sunufoncierApp.refcadastrale.titreMere" for="field_titreMere">Titre Mere</label>
          <input type="text" class="form-control" name="titreMere" id="field_titreMere" data-cy="titreMere" formControlName="titreMere" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="sunufoncierApp.refcadastrale.titreCree" for="field_titreCree">Titre Cree</label>
          <input type="text" class="form-control" name="titreCree" id="field_titreCree" data-cy="titreCree" formControlName="titreCree" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="sunufoncierApp.refcadastrale.numeroRequisition" for="field_numeroRequisition"
            >Numero Requisition</label
          >
          <input
            type="text"
            class="form-control"
            name="numeroRequisition"
            id="field_numeroRequisition"
            data-cy="numeroRequisition"
            formControlName="numeroRequisition"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="sunufoncierApp.refcadastrale.dateBornage" for="field_dateBornage">Date Bornage</label>
          <div class="d-flex">
            <input
              id="field_dateBornage"
              data-cy="dateBornage"
              type="datetime-local"
              class="form-control"
              name="dateBornage"
              formControlName="dateBornage"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="sunufoncierApp.refcadastrale.dependantDomaine" for="field_dependantDomaine"
            >Dependant Domaine</label
          >
          <select
            class="form-control"
            name="dependantDomaine"
            formControlName="dependantDomaine"
            id="field_dependantDomaine"
            data-cy="dependantDomaine"
          >
            <option [ngValue]="null"></option>
            <option value="DONAIME_NATIONAL">DONAIME NATIONAL</option>
            <option value="DOMAINE_PUBLIC">DOMAINE PUBLIC</option>
            <option value="DOMAINE_FLUVIAL">DOMAINE FLUVIAL</option>
            <option value="DOMAINE_MARITIME">DOMAINE MARITIME</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="sunufoncierApp.refcadastrale.numeroDeliberation" for="field_numeroDeliberation"
            >Numero Deliberation</label
          >
          <input
            type="text"
            class="form-control"
            name="numeroDeliberation"
            id="field_numeroDeliberation"
            data-cy="numeroDeliberation"
            formControlName="numeroDeliberation"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="sunufoncierApp.refcadastrale.dateDeliberation" for="field_dateDeliberation"
            >Date Deliberation</label
          >
          <input
            type="text"
            class="form-control"
            name="dateDeliberation"
            id="field_dateDeliberation"
            data-cy="dateDeliberation"
            formControlName="dateDeliberation"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="sunufoncierApp.refcadastrale.nomGeometre" for="field_nomGeometre">Nom Geometre</label>
          <input
            type="text"
            class="form-control"
            name="nomGeometre"
            id="field_nomGeometre"
            data-cy="nomGeometre"
            formControlName="nomGeometre"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="sunufoncierApp.refcadastrale.issueBornage" for="field_issueBornage">Issue Bornage</label>
          <select class="form-control" name="issueBornage" formControlName="issueBornage" id="field_issueBornage" data-cy="issueBornage">
            <option [ngValue]="null"></option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
