<div>
  <h2 id="page-heading" data-cy="RefcadastraleHeading">
    <span jhiTranslate="sunufoncierApp.refcadastrale.home.title">Refcadastrales</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sunufoncierApp.refcadastrale.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-refcadastrale"
        [routerLink]="['/refcadastrale/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sunufoncierApp.refcadastrale.home.createLabel"> Créer un nouveau Refcadastrale </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="refcadastrales?.length === 0">
    <span jhiTranslate="sunufoncierApp.refcadastrale.home.notFound">Aucun Refcadastrale trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="refcadastrales && refcadastrales.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codeSection">
            <div class="d-flex">
              <span jhiTranslate="sunufoncierApp.refcadastrale.codeSection">Code Section</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codeParcelle">
            <div class="d-flex">
              <span jhiTranslate="sunufoncierApp.refcadastrale.codeParcelle">Code Parcelle</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nicad">
            <div class="d-flex">
              <span jhiTranslate="sunufoncierApp.refcadastrale.nicad">Nicad</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="superfici">
            <div class="d-flex">
              <span jhiTranslate="sunufoncierApp.refcadastrale.superfici">Superfici</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="titreMere">
            <div class="d-flex">
              <span jhiTranslate="sunufoncierApp.refcadastrale.titreMere">Titre Mere</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="titreCree">
            <div class="d-flex">
              <span jhiTranslate="sunufoncierApp.refcadastrale.titreCree">Titre Cree</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numeroRequisition">
            <div class="d-flex">
              <span jhiTranslate="sunufoncierApp.refcadastrale.numeroRequisition">Numero Requisition</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateBornage">
            <div class="d-flex">
              <span jhiTranslate="sunufoncierApp.refcadastrale.dateBornage">Date Bornage</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dependantDomaine">
            <div class="d-flex">
              <span jhiTranslate="sunufoncierApp.refcadastrale.dependantDomaine">Dependant Domaine</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numeroDeliberation">
            <div class="d-flex">
              <span jhiTranslate="sunufoncierApp.refcadastrale.numeroDeliberation">Numero Deliberation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateDeliberation">
            <div class="d-flex">
              <span jhiTranslate="sunufoncierApp.refcadastrale.dateDeliberation">Date Deliberation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomGeometre">
            <div class="d-flex">
              <span jhiTranslate="sunufoncierApp.refcadastrale.nomGeometre">Nom Geometre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="issueBornage">
            <div class="d-flex">
              <span jhiTranslate="sunufoncierApp.refcadastrale.issueBornage">Issue Bornage</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let refcadastrale of refcadastrales; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/refcadastrale', refcadastrale.id, 'view']">{{ refcadastrale.id }}</a>
          </td>
          <td>{{ refcadastrale.codeSection }}</td>
          <td>{{ refcadastrale.codeParcelle }}</td>
          <td>{{ refcadastrale.nicad }}</td>
          <td>{{ refcadastrale.superfici }}</td>
          <td>{{ refcadastrale.titreMere }}</td>
          <td>{{ refcadastrale.titreCree }}</td>
          <td>{{ refcadastrale.numeroRequisition }}</td>
          <td>{{ refcadastrale.dateBornage | formatMediumDatetime }}</td>
          <td>
            {{ refcadastrale.dependantDomaine }}
          </td>
          <td>{{ refcadastrale.numeroDeliberation }}</td>
          <td>{{ refcadastrale.dateDeliberation }}</td>
          <td>{{ refcadastrale.nomGeometre }}</td>
          <td>{{ refcadastrale.issueBornage }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/refcadastrale', refcadastrale.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/refcadastrale', refcadastrale.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(refcadastrale)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
