<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="quartier">
      <h2 data-cy="quartierDetailsHeading"><span>Quartier</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ quartier.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ quartier.code }}</span>
        </dd>
        <dt><span>Libelle</span></dt>
        <dd>
          <span>{{ quartier.libelle }}</span>
        </dd>
        <dt><span>Communune</span></dt>
        <dd>
          <div *ngIf="quartier.communune">
            <a [routerLink]="['/commune', quartier.communune?.id, 'view']">{{ quartier.communune?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/quartier', quartier.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
