<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-locataire-heading" data-cy="LocataireCreateUpdateHeading">Create or edit a Locataire</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_personne">Personne</label>
          <input type="checkbox" class="form-check" name="personne" id="field_personne" data-cy="personne" formControlName="personne" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_activite">Activite</label>
          <input type="text" class="form-control" name="activite" id="field_activite" data-cy="activite" formControlName="activite" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_ninea">Ninea</label>
          <input type="text" class="form-control" name="ninea" id="field_ninea" data-cy="ninea" formControlName="ninea" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_montant">Montant</label>
          <input type="number" class="form-control" name="montant" id="field_montant" data-cy="montant" formControlName="montant" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_dossier">Dossier</label>
          <select class="form-control" id="field_dossier" data-cy="dossier" name="dossier" formControlName="dossier">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="dossierOption.id === editForm.get('dossier')!.value?.id ? editForm.get('dossier')!.value : dossierOption"
              *ngFor="let dossierOption of dossiersSharedCollection; trackBy: trackDossierById"
            >
              {{ dossierOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
