<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="lotissement">
      <h2 data-cy="lotissementDetailsHeading"><span>Lotissement</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ lotissement.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ lotissement.code }}</span>
        </dd>
        <dt><span>Libelle</span></dt>
        <dd>
          <span>{{ lotissement.libelle }}</span>
        </dd>
        <dt><span>Quartier</span></dt>
        <dd>
          <div *ngIf="lotissement.quartier">
            <a [routerLink]="['/quartier', lotissement.quartier?.id, 'view']">{{ lotissement.quartier?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/lotissement', lotissement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
